// Place all the styles related to the player_item controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: #003366;
}

.nav_buttons {
  display: inline-block;
}

.player-item {
  background: #000066;
  display: inline-block;
  border: 3px solid #33ccff;
  color: #ccffff;
  padding-left: 10px;
  border-radius: 15px;
}

.item-label {
  color: #33ccff;
}

.add-item {
  color: #33ccff;
}
